body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.top_line{
    width: 100%;
    height: 10px;
    display: flex;
    background:linear-gradient(to right, rgb(252,128,20),rgb(255,78,2),rgb(221,52,22),rgb(194,33,52),rgb(204,37,116),rgb(215,40,193));
}

.top_menu{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #f2f2f2;
}

.top_menu_image{
    margin-left: 10px;
}

.top_menu_image img{
    height: 50px;
    justify-self: center;

}

ol{
    list-style: none;
}

.top_menu_options{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: right;
    margin-right: 10px;
}

.top_menu_options li{
    font-size: 14px;
    font-family: 'Poppins';
    margin-right: 30px;
    justify-content: end;
}

